.airport {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #dcdcdc;
}

.info {
  display: flex;
  justify-content: space-between;
}
